<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>File: {{ header }}</title>
    <meta name="description" content="You`re here: {{ header }}" />
    <link rel="shortcut icon" href="/{{ FM_FOLDER_NAME }}/css/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/hot-sneaks/jquery-ui.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/{{ FM_FOLDER_NAME }}/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {%block scripts%}
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ FM_REL_PATH }}js/operationsHandler.js"></script>
    {%endblock%}
</head>

<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/{{ FM_FOLDER_NAME }}/">File-manager</a>
                    <div class="collapse navbar-collapse">
                        {%block navbar%}
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="modal" data-target="#modalNewFile" href="javascript:void(0);">Create File</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="modal" data-target="#modalNewFolder" href="javascript:void(0);">Create Folder</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="modal" data-target="#modalUploadsFiles" href="javascript:void(0);">Upload File</a>
                                </li>
                            </ul>
                        {%endblock%}
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
                    <div class="navbar-checkboxs">
                        <div class="navbar-checkboxs-item">
                            <input type="checkbox" id="searchInCurrDir" checked>
                            <label class="form-check-label" for="searchInCurrDir" checked="checked">Search in current directory</label>
                        </div>
                        <div class="navbar-checkboxs-item position-relative searchByName_block">
                            <input type="checkbox" id="searchByName">
                            <label class="form-check-label" for="searchByName">Search by file name</label>
                            <div class="searchByName_block_icon">
                                <img src="/fm/css/img/control/info.png" alt="" width="20px">
                            </div>
                            <div class="searchByName_block_text">
                                <p class="searchByName_block_text-header">Options for searching by file name:</p>
                                <p><span>?</span> - replaces any character</p>
                                <p><span>*</span> - replaces any character set</p>
                            </div>
                        </div>
                        <div class="navbar-checkboxs-item">
                            <input type="checkbox" id="contentSearch" checked>
                            <label class="form-check-label" for="contentSearch">Content search</label>
                        </div>
                        <div class="navbar-checkboxs-item">
                            <input type="checkbox" id="сaseInsensitiveSearch">
                            <label class="form-check-label" for="сaseInsensitiveSearch">Сase-insensitive search</label>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="container">