<ul class="list-group">
    {% for name, data in contentData['listDirsData'] %}

        <li class="list-group-item list-group-item-dark" >
            <a href="javascript:void(0);" data-path="{{ data[0] }}" class="nav_control-link">
                <img src="{{ FM_REL_PATH }}css/img/control/down-arrow.png" width="10px" alt="show">
            </a>
            <a href="{{ data[1] }}" class="list_path-link">
                <img src="{{ FM_REL_PATH }}css/img/control/folder-icon.png" width="15px" alt="icon">
                <span class="font-weight-bold">{{ name }}</span>
            </a>
        </li>

    {% endfor %}
</ul>