{%for name, data in contentData['folders']%}
    <tr class="file_field">
        <td class="type_img text-center ">
            <a href="{{ data.url }}" title="view" class="type_img-d {{ data.classNewFile }}">
                <img src="{{ FM_REL_PATH }}css/img/folder.png" width="40px">
            </a>    
        </td>
        <td class="link-file text-left">
            <a href="{{ data.url }}" data-name="{{ name }}" data-type="folder" title="view" class="badge badge-info link_files">{{ name }}</a>
        </td>
        <td></td>
        <td>{{ data.fileСhangeDate }}</td>
        <td>
            <a href="javascript:void(0);" data-toggle="tooltip" title="rename {{ name }}" data-action="rename" data-name="{{ name }}" data-path="{{ data.path }}" class="btn">
                <img src="{{ FM_REL_PATH }}css/img/control/edit.png" width="40px" class="control_item" alt="icon rename">
            </a>
        </td>
        <td>
            <a href="javascript:void(0);" data-toggle="tooltip" title="copy {{ name }}" data-path="{{ data.path }}">
                <img src="{{ FM_REL_PATH }}css/img/control/copy.png" class="control_item" width="40px" alt="icon copy">
            </a>
        </td>
        <td>
            <a href="javascript:void(0);" data-toggle="tooltip" title="move {{ name }}" data-path="{{ data.path }}">
                <img src="{{ FM_REL_PATH }}css/img/control/move.png" class="control_item" width="40px" alt="icon move">
            </a>
        </td>
        <td>
            <a href="javascript:void(0);" data-toggle="tooltip" title="delete {{ name }}" data-action="delete" data-path="{{ data.path }}">
                <img src="{{ FM_REL_PATH }}css/img/control/delete.png" class="control_item" width="40px" alt="icon delete">
            </a>
        </td>           
    </tr>
{%endfor%}

{%for name, data in contentData['files']%}
   <tr class="file_field">
      <td class="type_img align-middle">
         <a href="{{ data.url }}" title="view" class="type_img-f {{ data.classNewFile }}">
            <img src="{{ data.img }}" width="40px" class="rounded">
         </a>
      <td class="link-file text-left">
         <a href="{{ data.url }}" data-name="{{ name }}" data-type="file" title="view" class="badge badge-secondary link_files">{{ name }}</a>
      </td>
      <td>{{ data.size }}</td>
      <td>{{ data.fileСhangeDate }}</td>
      <td>
         <a href="javascript:void(0);" data-toggle="tooltip" title="rename {{ name }}" data-action="rename" data-name={{ name }} data-path="{{ data.path }}" class="btn">
            <img src="{{ FM_REL_PATH }}css/img/control/edit.png" width="40px" class="control_item" alt="icon rename">
         </a>
      </td>
      <td>
         <a href="javascript:void(0);" data-toggle="tooltip" title="copy {{ name }}" data-path="{{ data.path }}">
            <img src="{{ FM_REL_PATH }}css/img/control/copy.png" class="control_item" width="40px" alt="icon copy">
         </a>
      </td>
      <td>
         <a href="javascript:void(0);" data-toggle="tooltip" title="move {{ name }}" data-path="{{ data.path }}">
            <img src="{{ FM_REL_PATH }}css/img/control/move.png" class="control_item" width="40px" alt="icon move">
         </a>
      </td>
      <td>
         <a href="javascript:void(0);" data-toggle="tooltip" title="delete {{ name }}" data-action="delete" data-path="{{ data.path }}">
            <img src="{{ FM_REL_PATH }}css/img/control/delete.png" class="control_item" width="40px" alt="icon delete">
         </a>
      </td>
   </tr>
{%endfor%}
